@media(min-width:768px) {
   .nav{
        width:100%;
        height:60px;
    } 
}

#list {
    background: #d35400;
    border-bottom: 1px solid #e67e22;
    padding: 0 100px;

    li{
        display: inline-block;
        text-align: center;
    }
}

#list a {
    display: inline-block;
    width: 120px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #fff;

    &:hover{
        background: #e67e22;
        border-radius: 4px;
        border: 1px solid #e67e22;
        border-bottom: 0px;
    }
    &:focus{
        color:#fff;
    }


}
