.content{
	width:1366px;
}
body:before{
	content:".";
    height:100%;
	background:  url(../images/banner3.jpg);
	position: absolute;   
    left: 0;  
    right: 0;  
    z-index: -1;  
    -webkit-filter: blur(5px);  
    filter: blur(5px);   
    background-size: cover;   /*平铺*/ 
    background-attachment: fixed;  
    /*位置固定*/  
}
.main{
	position:absolute;
	top:60px;
	
}
.num{
	position:fixed;
	top:300px;
	right:60px;
	z-index:9999;
	

	span{
		display:block;
		width:8px;
		height:8px;
		text-align:center;
		margin-bottom: 4px;
		border:1px solid #fff;
		border-radius:50%;
		background:#fff;
		cursor:pointer;

	}
	
}



