$Width:100%;
$Height: 600px;
.banner{
	width:$Width;
	height:$Height;
	position:relative;
	cursor:pointer;
}
	.show-nav{
		position:absolute;
		top:10px;
		right:70px;
		color:#fff;
	}

	.prev{
	   position:absolute;
	   z-index:900;
	   top:260px;
	   left:200px;
	   background: url(../images/prev-btn.png) no-repeat;
	   width:50px;
	   height:50px;
	   font-size:40px;
	   cursor: pointer;
	   color:#fff;
	   &:hover{
	   	transform: translate(-15px, 0);
  	-webkit-transform: translate(-15px, 0);
  	-moz-transform: translate(-15px, 0);
  	-o-transform: translate(-15px, 0);
  	-ms-transform: translate(-15px, 0);
	   }
		
    }
   	.next{
	   position:absolute;
	   z-index:900;
	   top:260px;
	   right:200px;
	   background: url(../images/next-btn.png) no-repeat;
	    width:50px;
	   height:50px;
	   color:#fff;
	   font-size:40px;
	   cursor: pointer;
		&:hover{
	transform: translate(15px, 0);
  -webkit-transform: translate(15px, 0);
  -moz-transform: translate(15px, 0);
  -o-transform: translate(15px, 0);
  -ms-transform: translate(15px, 0);
		}
	 
   }
  	.slider{
	position: absolute;
	top:0;
	width:$Width;
	height:$Height;
	overflow:hidden;
	
	li img{
		width:54px;
	    height:54px;
	}
	li{
		width:$Width;
	    height:$Height;
		position:relative;
		display:inline-block;
		overflow:hidden;
		list-style:none;
	}
	.banner1{
		h1{
			position:absolute;
			top:100px;
			left:400px;
			font-size:40px;
		}
		h2{
			position:absolute;
			top:260px;
			left:480px;
			font-size:24px;
			color:#fff;
		}
		a{

			img{
				position:absolute;
			top:300px;
			left:600px;
			}
		}
	}

	 .banner2 .video{
		position:absolute;
		z-index:900;
	   top:90px;
	   right:330px;
	   background-color: #fff;
	}
	.banner3{
		.now,.line,.future,.future1{
			position:absolute;
			color:#fff;
			font-size:30px;
		}


		.now{
			top:200px;
			left:440px;
		}
		.line{
			top:340px;
			right:400px;
			width:600px;
			background: #fff;
			height:2px;
		}
		.future{
			top:240px;
			right:550px;
		}
		.future1{
			top:280px;
			right:500px;
		}

	}
	
}
.buttons{
	position:absolute;
	top:494px;
	left:580px;
	span{
		width:10px;
		height:10px;
		background:#fff;
		border:1px solid #fff;
		border-radius:50%;
		margin-right: 20px;
		display:inline-block;
		&:hover{
		-webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);	
		transform: rotate(360deg);
		-webkit-transition: all 0.6s linear;
        -moz-transition: all 0.6s linear;
        -o-transition: all 0.6s linear;
        -ms-transition: all 0.6s linear;
        transition: all 0.6s linear;

		}

	}
	.on{
	background: url(../images/dots.png) no-repeat;
	width:28px;
	height:28px;
	border:0px solid #fff;
	
	}
	// .css-rotate{
	// 	-webkit-transform: rotate(360deg);
 //        -moz-transform: rotate(360deg);
 //        -o-transform: rotate(360deg);	
	// 	transform: rotate(360deg);
	// 	-webkit-transition: all 0.8s linear;
 //        -moz-transition: all 0.8s linear;
 //        -o-transition: all 0.8s linear;
 //        -ms-transition: all 0.8s linear;
 //        transition: all 0.8s linear;
	// }

}
