
/*
 *加入我们部分
 * 
 */

 /*字体设置*/
@mixin Font {
	font: {
		size: 16px;
	}
	color: #fff;
}
/*表单焦点设置*/
@mixin gainFocus {
	border: {
		radius: 5px;
		width: 1px;
		style: solid;
		color: #ccc;
	}
	background: transparent;
	&:focus {
	// outline:1px solid #ff5a09;
		border: {
			radius: 5px;
			width: 1px;
			style: solid;
		}
		color:#EF9760;
		box-shadow: inset 0px 0px 15px #ff9900;
	}	
}

body {
	background-color: #393939;

}
.hxq_contact {
	width: 100%;
	height: 100%;
	overflow: auto;
	zoom: 1;
	// background-color: #393939;
	// background-image: url(../assets/image/contact_bg.jpg) no-repeat;
}

/*加入我们标题*/
h1 {
	margin: 4.5rem 11.25rem;
	padding-bottom: 1.0rem;
	font: {
		size: 36px;
	}
	color:#fff;
}
/*地图部分*/ 
.join_left {
	float: left;
	width: 49%;	
	// border: 1px solid #fff;
	min-width: 41.666667rem;
	// overflow: hidden;
	// zoom: 1;
	// &:after {
	// 	content: " ";
	// 	clear: both;
	// 	display:block;
	// 	width: 0;
	// 	height: 0;
	// 	visibility:hidden;
	// }
}

#map {
	width: 60%;
	height: 25.0rem;
	border: 1px solid #FFF;
	margin-left: 20%;
}
.amap-marker-label {
	width: 15.0rem;
	height: 20px;
	line-height: 20px;
	padding-left: 1.25rem;
	border: {
		radius: 5px;
		width: 1px;
		style: none;
	}
	color: #fff;
	background: #6e6e6e;
	
}
.address {
	margin: {
		left: 15%;
		top: 4.166667rem
	}
	@include Font;
	span {
		display: block;
		&:before {
			content: " . ";
		}
	}
}
/* 联系表单部分 */ 

.join_right {
	width: 50%;	
	display: inline-block;
	z-index: 120;
	// border: 1px solid #fff;
	min-width: 41.666667rem;
	form {
		margin-left: 20%;
		width: 33.0rem;
		height: 35.0rem;
		div {
			margin-bottom: 20px;
			label {
				@include Font;
			}
			input {
				width: 295px;
				height: 30px;
				padding-left: 10px;
				@include gainFocus;
				@include Font;
				font-weight: normal;
			}
			textarea {
				width: 360px;
				height:　400px;
				min-height: 200px;
				resize: none;
				box-sizing: border-box;
				padding: 10px;
				@include gainFocus;
				@include Font;
				font-weight: normal;
			}
			input[type="submit"] {
				width: 100px;
				height: 40px; 
				padding: 0;
				margin-left: 260px;
				background: #EF9760; 
				@include Font;
				&:hover {
					background: #ff5a09;
				}
			}
		}
	}

}