@media screen and(max-width:1349px){
    .nav{
        .nav-right{
            margin-right: 140px;
        }
    }
}


.nav{
        width:10rem;
        height:60px;
        // background: red;
     
}
.clearfix:after{
 content:"";
 clear:both;
 overflow:hidden;
 height:0;
 zoom:1;  
} 
.nav-left{
    float:left;
    margin-left: 30px;
    img{
        width:54px;
        height:54px;
        vertical-align:middle;
        margin-right: 20px;

    }
    span{
    font-size:20px;
    color:#fff;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
   
    
    }
}
.nav-right{
    float:right;
    margin-right: 30px;
    .nav-list{
        margin-top: 20px;

        li{
            display:inline-block;
            margin-right: 30px;
            a{
                color:#fff;
                font-size:16px;
                &:hover{
                    color: #ff5a09;
                    border-radius:4px;
                    padding:4px;
                }
            }
        }
    }

} 